<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/styles.css">
    <link rel="scripts" href="script.js">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#"><i class="fas fa-paw"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link text-white" href="/">Home</a>
                <a class="nav-item nav-link text-white" href="user">Profile</a>
                <a class="nav-item nav-link text-white" href="#">PlayDates</a>
            </div>

            <ul class="navbar-nav ml-auto">
                    <a class="nav-item nav-link text-white" aria-current="page" href="#" data-toggle="modal"
                        data-target="#loginModal">Login/Signup</a>
            </ul>
        </div>


        <!-- Modal -->


        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-title text-center">
                            <h4>Login</h4>
                        </div>
                        <div class="d-flex flex-column text-center">
                            <form>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email1"
                                        placeholder="Your email address...">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="password1"
                                        placeholder="Your password...">
                                </div>
                                <button type="button" class="btn btn-info btn-block btn-round">Login</button>
                            </form>

                            <div class="text-center text-muted delimiter">or use a social network</div>
                            <div class="d-flex justify-content-center social-buttons">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                  </ul>
                                </di>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <div class="signup-section">Not a member yet? <a href="#a" class="text-info"> Sign Up</a>.</div>
                    </div>
                </div>
            </div>
    </nav>
    <section class="container-fluid spacing-1">
        <div class="row g-5">
            <div class="container-fluid d-flex justify-content-center">
                <!-- Content here -->
                <h1 class="title">PUPPY LOVE</h1>
            </div>
        </div>
    </section>


    <section class="container-fluid">
        <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="profile-card-6"><img src="/Ollie.png" class="card-img-top img img-responsive">
                        <div class="profile-name">JOHN
                            <br>DOE</div>
                        <div class="profile-position">Lorem Ipsum Donor</div>
                        <div class="profile-overview">
                            <div class="profile-overview">
                                <div class="row row-mg text-center">
                                    <div class="col-xs-4">
                                        <h3>1</h3>
                                        <p>Rank</p>
                                    </div>
                                    <div class="col-xs-4">
                                        <h3>50</h3>
                                        <p>Matches</p>
                                    </div>
                                    <div class="col-xs-4">
                                        <h3>35</h3>
                                        <p>Goals</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="profile-card-6"><img src="/Ollie.png" class="card-img-top img img-responsive">
                        <div class="profile-name">JOHN
                            <br>DOE</div>
                        <div class="profile-position">Lorem Ipsum Donor</div>
                        <div class="profile-overview">
                            <div class="profile-overview">
                                <div class="row row-mg text-center">
                                    <div class="col-xs-4">
                                        <h3>1</h3>
                                        <p>Rank</p>
                                    </div>
                                    <div class="col-xs-4">
                                        <h3>50</h3>
                                        <p>Matches</p>
                                    </div>
                                    <div class="col-xs-4">
                                        <h3>35</h3>
                                        <p>Goals</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="profile-card-6"><img src="/Ollie.png" class="card-img-top img img-responsive">
                        <div class="profile-name">Ollie
                            <br>Boy</div>
                        <div class="profile-position">Lorem Ipsum Donor</div>
                        <div class="profile-overview">
                            <div class="profile-overview">
                                <div class="row row-mg text-center">
                                    <div class="col-xs-4">
                                        <h3>1</h3>
                                        <p>Rank</p>
                                    </div>
                                    <div class="col-xs-4">
                                        <h3>50</h3>
                                        <p>Matches</p>
                                    </div>
                                    <div class="col-xs-4">
                                        <h3>35</h3>
                                        <p>Goals</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <a class="carousel-control-prev carousel-control" href="#carouselExampleControls" role="button"
                    data-slide="next" onclick="this.blur();">
                    <span class="check-item" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" fill="#212529"
                            class="bi bi-x-circle-fill next-icon shadow" viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                        </svg></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next carousel-control" href="#carouselExampleControls" role="button"
                    data-slide="next" onclick="this.blur();">
                    <span class="check-item" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" fill="#212529"
                            class="bi bi-check-circle-fill next-icon shadow" viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                        </svg></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

    </section>











    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>