<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
        <link rel="scripts" href="script.js">
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- FONTAWESOME -->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
        <!-- GOOGLE FONTS -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet"><
        <title>Who Let The Dog's Out</title>
        <style>
            .jumbotron {
                background-color: lightpink;
            }
            .jumbotron h1 {
                color: rebeccapurple;
                font-size: 50px;
                font-weight: bolder;
                font-family: serif;
            }
            .container-campus p{
                font-size: 40px;
                color: red;
            }
            .campus{
                height: 50%;
                width: 75%;
                object-fit: cover;
                margin-bottom: 25px;
                border-radius: 50%;
                border: 10px solid lightblue;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/"><i class="fas fa-paw"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link text-white" href="/">Home</a>
                    <a class="nav-item nav-link text-white" href="/user">Profile</a>
                    <a class="nav-item nav-link text-white" href="/user/playdates">PlayDates</a>
                </div>
    
                <ul class="navbar-nav ml-auto">
                        <a class="nav-item nav-link text-white" aria-current="page" href="#" data-toggle="modal"
                            data-target="#loginModal">Login/Signup</a>
                </ul>
            </div>
    
    
            <!-- Modal -->
    
    
            <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header border-bottom-0">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-title text-center">
                                <h4>Login</h4>
                            </div>
                            <div class="d-flex flex-column text-center">
                                <form>
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email1"
                                            placeholder="Your email address...">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="password1"
                                            placeholder="Your password...">
                                    </div>
                                    <button type="button" class="btn btn-info btn-block btn-round">Login</button>
                                </form>
    
                                <div class="text-center text-muted delimiter">or use a social network</div>
                                <div class="d-flex justify-content-center social-buttons">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                      </ul>
                                    </di>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <div class="signup-section">Not a member yet? <a href="#a" class="text-info"> Sign Up</a>.</div>
                        </div>
                    </div>
                </div>
        </nav>
        <div class="jumbotron text-center">
            <h1>Who Let The Dog's Out</h1>
        </div>
        <div class="container-campus text-center">
            <p>Match Found </p>
	    <p>Let's Set a Playdate </p>
            <div class="row">
                <div class="col-sm-4">
                    <img class="campus" src="/img1.jpg">
		    <p>Tommy</p>
                </div>
                <div class="col-sm-4">
                    <img class="campus" src="/img3.jpg">
                </div>
                <div class="col-sm-4">
                    <img class="campus" src="/img2.jpg">
		    <p>Jill</p>
                </div>
            </div>
        </div>
    </body>
</html>