<!DOCTYPE html>
<html>

<head>

  <title> Profile - Dog Site </title>

  <link rel="stylesheet" href="/styles.css">
  <link rel="scripts" href="script.js">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- FONTAWESOME -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <!-- GOOGLE FONTS -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/"><i class="fas fa-paw"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link text-white" href="/">Home</a>
        <a class="nav-item nav-link text-white" href="user">Profile</a>
        <a class="nav-item nav-link text-white" href="user/playdates">PlayDates</a>
      </div>

      <ul class="navbar-nav ml-auto">
        <a class="nav-item nav-link text-white" aria-current="page" href="/user/logout">Logout</a>
      </ul>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered cascading-modal" role="document">
        <div class="modal-content">
          <div class="modal-c-tabs">
            <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
              <li class="nav-item">
                <a class="nav-link active form-tabs tab-btn text-center" data-toggle="tab" href="#panel7" role="tab"><i
                    class="fas fa-user mr-1"></i>
                  Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link form-tabs tab-btn text-center" data-toggle="tab" href="#panel8" role="tab"><i
                    class="fas fa-user-plus mr-1"></i>
                  Register</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade in show active" id="panel7" role="tabpanel">
                <!--- modal body form --->
                <div class="modal-header modal-color border-bottom-0">
                </div>
                <div class="modal-body modal-color">
                  <div class="form-title text-center">
                    <h4>Welcome Back!</h4>
                  </div>
                  <div class="d-flex flex-column text-center">
                    <form action="user/login" method="post">
                      <div class="form-group">
                        <input type="email" name="email" class="form-control login" id="email" placeholder="Email"
                          required />
                      </div>
                      <div class="form-group">
                        <input type="password" name="password" class="form-control login" id="password"
                          placeholder="Password" required />
                      </div>
                      <button type="submit" id="submitDetails" value="submit"
                        class="btn btn-info btn-block btn-round btn-col">Login</button>
                    </form>

                    <div class="text-center text-muted delimiter">or use a social network</div>
                    <div class="d-flex justify-content-center social-buttons">
                      <ul class="ul">
                        <li class="li"><a class="a" href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li class="li"><a class="a" href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li class="li"><a class="a" href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a>
                        </li>
                        <li class="li"><a class="a" href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                        </li>
                        <li class="li"><a class="a" href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                        </li>
                      </ul>
                      </di>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="options text-center text-md-right mt-1">
                    <p>Not a member? <a class="blue-text" data-toggle="tab" href="#panel8">Sign
                        Up</a></p>
                    <p>Forgot <a href="#" class="blue-text">Password?</a></p>
                  </div>
                  <button type="button" class="btn btn-outline-info waves-effect ml-auto btn-col"
                    data-dismiss="modal">Close</button>
                </div>
                <!--- modal body form --->

              </div>
              <div class="tab-pane fade" id="panel8" role="tabpanel">
                <!--- modal body form --->
                <div class="modal-header modal-color border-bottom-0">
                </div>
                <div class="modal-body modal-color">
                  <div class="form-title text-center">
                    <h4>Sign up</h4>
                  </div>
                  <div class="d-flex flex-column text-center">
                    <form action="user/register" method="post">
                      <div class="form-group">
                        <input type="name" name="name" class="form-control login" id="name" placeholder="Name"
                          required />
                      </div>
                      <div class="form-group">
                        <input type="email" name="email" class="form-control login" id="email" placeholder="Email"
                          required />
                      </div>
                      <div class="form-group">
                        <input type="password" name="password" class="form-control login" id="password"
                          placeholder="Password" required />
                      </div>
                      <div class="form-group">
                        <input type="phone" name="phone" class="form-control login" id="phone" placeholder="949999999"
                          required />
                      </div>
                      <div class="form-group">
                        <input type="zip" name="zip" class="form-control login" id="zip" placeholder="92620" required />
                      </div>
                      <button type="submit" id="submitDetails" value="submit"
                        class="btn btn-info btn-block btn-round btn-col">Submit</button>
                    </form>

                    <div class="text-center text-muted delimiter">or use a social network</div>
                    <div class="d-flex justify-content-center social-buttons">
                      <ul class="ul">
                        <li class="li"><a class="a" href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li class="li"><a class="a" href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li class="li"><a class="a" href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a>
                        </li>
                        <li class="li"><a class="a" href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                        </li>
                        <li class="li"><a class="a" href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                        </li>
                      </ul>
                      </di>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="options text-right">
                    <p class="pt-1">Already have an account? <a href="#" class="blue-text">Log
                        In</a></p>
                  </div>
                  <button type="button" class="btn btn-outline-info waves-effect ml-auto btn-col"
                    data-dismiss="modal">Close</button>
                </div>
                <!--- modal body form --->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
  </nav>


  <!-- playdates section -->

  <section>
    <div class="profile-head">

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="user/edit_profile" method="post">
                <div class="form-group">
                  <input type="name" name="name" class="form-control login" id="name" placeholder="Name" />
                </div>
                <div class="form-group">
                  <input type="type" name="type" class="form-control login" id="type" placeholder="Type" />
                </div>
                <div class="form-group">
                  <input type="bio" name="bio" class="form-control login" id="bio" placeholder="Bio" />
                </div>
                <div class="form-group">
                  <input type="email" name="email" class="form-control login" id="email" placeholder="Email" />
                </div>
                <div class="form-group">
                  <input type="password" name="password" class="form-control login" id="password"
                    placeholder="Password" />
                </div>
                <div class="form-group">
                  <input type="phone" name="phone" class="form-control login" id="phone" placeholder="Phone" />
                </div>
                <div class="form-group">
                  <input type="zip" name="zip" class="form-control login" id="zip" placeholder="Zip" />
                </div>
                <button type="submit" id="submitDetails" value="submit"
                  class="btn btn-info btn-block btn-round btn-col">Save Changes</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- playdates section end -->
  <section class="profile-info">
    <div class="profile-circle border-circle">
      <img src="/Ollie.png" class="avatar img-raised rounded-circle img-fluid" alt="profilepic">
      <div class="container text-center user-content">
        <div class="text-center">

          <div class="name center-items">
            <h3 class="" id="user-name">
              <%= user.name %>
            </h3>
            <h6>
              <%= user.type %>
            </h6>
            <p>
              <%= user.bio %>
            </p>
            <button type="button" class="btn-sm btn btn-outline-secondary mb-5" data-toggle="modal" data-target="#exampleModal">
              Edit Profile
            </button>
          </div>

        </div>
      </div>
    </div>
  </section>



  <!-- Profile content -->

  <!--Profile Card Element--->
  <div class="container-sm bg-color mx-5 b-shadow">
    <div class="container-fluid align-items-center mb-2 pt-5">
      <h1 class="fri-font">Friends</h1>
    </div>
    <div class="row px-5">
      <div class="col">
        <div id="card3" class="profile-card-6 profile-card-size-sm"><img src="Mable.png"
            class="card-img-top img img-responsive">
          <div class="profile-name">Ollie
          </div>
          <div class="profile-position"></div>
          <div class="profile-overview">
            <div class="profile-overview">
              <div class="row row-mg text-center">
                <div class="col-xs-4">
                  <h3>3</h3>
                  <p>Rank</p>
                </div>
                <div class="col-xs-4">
                  <h3>16</h3>
                  <p>Matches</p>
                </div>
                <div class="col-xs-4">
                  <h3>Small</h3>
                  <p>Size</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div id="card3" class="profile-card-6 profile-card-size-sm"><img src="Livy.png"
            class="card-img-top img img-responsive">
          <div class="profile-name">Livy
          </div>
          <div class="profile-position"></div>
          <div class="profile-overview">
            <div class="profile-overview">
              <div class="row row-mg text-center">
                <div class="col-xs-4">
                  <h3>2</h3>
                  <p>Rank</p>
                </div>
                <div class="col-xs-4">
                  <h3>28</h3>
                  <p>Matches</p>
                </div>
                <div class="col-xs-4">
                  <h3>Small</h3>
                  <p>Size</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div id="card3" class="profile-card-6 profile-card-size-sm"><img src="Ollie.png"
            class="card-img-top img img-responsive">
          <div class="profile-name">Ollie
          </div>
          <div class="profile-position"></div>
          <div class="profile-overview">
            <div class="profile-overview">
              <div class="row row-mg text-center">
                <div class="col-xs-4">
                  <h3>1</h3>
                  <p>Rank</p>
                </div>
                <div class="col-xs-4">
                  <h3>50</h3>
                  <p>Matches</p>
                </div>
                <div class="col-xs-4">
                  <h3>Small</h3>
                  <p>Size</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">

        <div id="card3" class="profile-card-6 profile-card-size-sm"><img src="Mable.png"
            class="card-img-top img img-responsive">
          <div class="profile-name">Mable
          </div>
          <div class="profile-position"></div>
          <div class="profile-overview">
            <div class="profile-overview">
              <div class="row row-mg text-center">
                <div class="col-xs-4">
                  <h3>3</h3>
                  <p>Rank</p>
                </div>
                <div class="col-xs-4">
                  <h3>16</h3>
                  <p>Matches</p>
                </div>
                <div class="col-xs-4">
                  <h3>Small</h3>
                  <p>Size</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div id="card3" class="profile-card-6 profile-card-size-sm"><img src="Livy.png"
            class="card-img-top img img-responsive">
          <div class="profile-name">Livy
          </div>
          <div class="profile-position"></div>
          <div class="profile-overview">
            <div class="profile-overview">
              <div class="row row-mg text-center">
                <div class="col-xs-4">
                  <h3>2</h3>
                  <p>Rank</p>
                </div>
                <div class="col-xs-4">
                  <h3>28</h3>
                  <p>Matches</p>
                </div>
                <div class="col-xs-4">
                  <h3>Small</h3>
                  <p>Size</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>







  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
</body>

</html>