<!DOCTYPE html>
<html>

<head>

  <title> Profile - Dog Site </title>
  
  <link rel="stylesheet" href="/styles.css">
  <link rel="scripts" href="script.js">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- FONTAWESOME -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <!-- GOOGLE FONTS -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/"><i class="fas fa-paw"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link text-white" href="/">Home</a>
        <a class="nav-item nav-link text-white" href="user">Profile</a>
        <a class="nav-item nav-link text-white" href="user/playdates">PlayDates</a>
      </div>

      <ul class="navbar-nav ml-auto">
        <a class="nav-item nav-link text-white" aria-current="page" href="#" data-toggle="modal"
          data-target="#loginModal">Login/Signup</a>
      </ul>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered cascading-modal" role="document">
        <div class="modal-content">
          <div class="modal-c-tabs">
            <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
              <li class="nav-item">
                <a class="nav-link active form-tabs" data-toggle="tab" href="#panel7" role="tab"><i
                    class="fas fa-user mr-1"></i>
                  Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link form-tabs" data-toggle="tab" href="#panel8" role="tab"><i
                    class="fas fa-user-plus mr-1"></i>
                  Register</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade in show active" id="panel7" role="tabpanel">
                <!--- modal body form --->
                <div class="modal-header modal-color border-bottom-0">
                </div>
                <div class="modal-body modal-color">
                  <div class="form-title text-center">
                    <h4>Welcome Back!</h4>
                  </div>
                  <div class="d-flex flex-column text-center">
                    <form>
                      <div class="form-group">
                        <input type="email" class="form-control" id="email1" placeholder="Your email">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control" id="password1" placeholder="Your password">
                      </div>
                      <button type="button" id="loginbtn" class="btn btn-info btn-block btn-round">Login</button>
                    </form>

                    <div class="text-center text-muted delimiter">or use a social network</div>
                    <div class="d-flex justify-content-center social-buttons">
                      <ul class="ul">
                        <li class="li"><a class="a" href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li class="li"><a class="a" href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li class="li"><a class="a" href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a>
                        </li>
                        <li class="li"><a class="a" href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                        </li>
                        <li class="li"><a class="a" href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                        </li>
                      </ul>
                      </di>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="options text-center text-md-right mt-1">
                    <p>Not a member? <a class="blue-text" data-toggle="tab" href="#panel8">Sign
                        Up</a></p>
                    <p>Forgot <a href="#" class="blue-text">Password?</a></p>
                  </div>
                  <button type="button" class="btn btn-outline-info waves-effect ml-auto"
                    data-dismiss="modal">Close</button>
                </div>
                <!--- modal body form --->

              </div>
              <div class="tab-pane fade" id="panel8" role="tabpanel">
                <!--- modal body form --->
                <div class="modal-header modal-color border-bottom-0">
                </div>
                <div class="modal-body modal-color">
                  <div class="form-title text-center">
                    <h4>Sign up</h4>
                  </div>
                  <div class="d-flex flex-column text-center">
                    <form>
                      <div class="form-group">
                        <input type="email" class="form-control" id="email1" placeholder="Your email">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control" id="password1" placeholder="Your password">
                      </div>
                      <button type="button" id="loginbtn" class="btn btn-info btn-block btn-round">Login</button>
                    </form>

                    <div class="text-center text-muted delimiter">or use a social network</div>
                    <div class="d-flex justify-content-center social-buttons">
                      <ul class="ul">
                        <li class="li"><a class="a" href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li class="li"><a class="a" href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li class="li"><a class="a" href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a>
                        </li>
                        <li class="li"><a class="a" href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                        </li>
                        <li class="li"><a class="a" href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                        </li>
                      </ul>
                      </di>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="options text-right">
                    <p class="pt-1">Already have an account? <a href="#" class="blue-text">Log
                        In</a></p>
                  </div>
                  <button type="button" class="btn btn-outline-info waves-effect ml-auto"
                    data-dismiss="modal">Close</button>
                </div>
                <!--- modal body form --->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
  </nav>



  <!-- playdates section -->

  <section>
    <div class="profile-head">
    </div>
  </section>
  <!-- playdates section end -->
  <section class="profile-info">
    <div class="profile-circle border-circle">
      <img src="/Ollie.png" class="avatar img-raised rounded-circle img-fluid" alt="profilepic">
      <div class="container text-center user-content">
        <div class="row">

          <div class="name">
            <h3 class="">Ollie Gray</h3>
            <h6>French Bulldog</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae risus hendrerit, lacinia orci a, laoreet lectus. Quisque euismod enim vitae sagittis faucibus. Nulla aliquam elementum ipsum, in efficitur felis facilisis non. Vestibulum laoreet ultrices arcu, at dapibus sapien iaculis maximus. Praesent venenatis sagittis tincidunt.</p>
          </div>

        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="content" class="content content-full-width">
          <!-- begin profile -->
          <div class="profile">
            <div class="profile-header">
              <!-- BEGIN profile-header-tab -->
              <ul class="profile-header-tab nav nav-tabs">
                <li class="nav-item"><a href="#profile-post" class="nav-link active show" data-toggle="tab">POSTS</a>
                </li>
                <li class="nav-item"><a href="#profile-about" class="nav-link" data-toggle="tab">ABOUT</a></li>
                <li class="nav-item"><a href="#profile-photos" class="nav-link" data-toggle="tab">PHOTOS</a></li>
                <li class="nav-item"><a href="#profile-videos" class="nav-link" data-toggle="tab">VIDEOS</a></li>
                <li class="nav-item"><a href="#profile-friends" class="nav-link" data-toggle="tab">FRIENDS</a></li>
              </ul>
              <!-- END profile-header-tab -->
            </div>
          </div>
          <!-- end profile -->
          <!-- begin profile-content -->
          <div class="profile-content">
            <!-- begin tab-content -->
            <div class="tab-content p-0">
              <!-- begin #profile-post tab -->
              <div class="tab-pane fade active show" id="profile-post">
                <!-- begin timeline -->
                <ul class="timeline">
                  <li>
                    <!-- begin timeline-time -->
                    <div class="timeline-time">
                      <span class="date">today</span>
                      <span class="time">04:20</span>
                    </div>
                    <!-- end timeline-time -->
                    <!-- begin timeline-icon -->
                    <div class="timeline-icon">
                      <a href="javascript:;">&nbsp;</a>
                    </div>
                    <!-- end timeline-icon -->
                    <!-- begin timeline-body -->
                    <div class="timeline-body">
                      <div class="timeline-header">
                        <span class="userimage"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                            alt=""></span>
                        <span class="username"><a href="javascript:;">Sean Ngu</a> <small></small></span>
                        <span class="pull-right text-muted">18 Views</span>
                      </div>
                      <div class="timeline-content">
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus turpis quis tincidunt
                          luctus.
                          Nam sagittis dui in nunc consequat, in imperdiet nunc sagittis.
                        </p>
                      </div>
                      <div class="timeline-likes">
                        <div class="stats-right">
                          <span class="stats-text">259 Shares</span>
                          <span class="stats-text">21 Comments</span>
                        </div>
                        <div class="stats">
                          <span class="fa-stack fa-fw stats-icon">
                            <i class="fa fa-circle fa-stack-2x text-danger"></i>
                            <i class="fa fa-heart fa-stack-1x fa-inverse t-plus-1"></i>
                          </span>
                          <span class="fa-stack fa-fw stats-icon">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                          </span>
                          <span class="stats-total">4.3k</span>
                        </div>
                      </div>
                      <div class="timeline-footer">
                        <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                            class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>
                        <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                            class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a>
                        <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                            class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
                      </div>
                      <div class="timeline-comment-box">
                        <div class="user"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"></div>
                        <div class="input">
                          <form action="">
                            <div class="input-group">
                              <input type="text" class="form-control rounded-corner" placeholder="Write a comment...">
                              <span class="input-group-btn p-l-10">
                                <button class="btn btn-primary f-s-12 rounded-corner" type="button">Comment</button>
                              </span>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <!-- end timeline-body -->
                  </li>
                  <li>
                    <!-- begin timeline-time -->
                    <div class="timeline-time">
                      <span class="date">yesterday</span>
                      <span class="time">20:17</span>
                    </div>
                    <!-- end timeline-time -->
                    <!-- begin timeline-icon -->
                    <div class="timeline-icon">
                      <a href="javascript:;">&nbsp;</a>
                    </div>
                    <!-- end timeline-icon -->
                    <!-- begin timeline-body -->
                    <div class="timeline-body">
                      <div class="timeline-header">
                        <span class="userimage"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                            alt=""></span>
                        <span class="username">Sean Ngu</span>
                        <span class="pull-right text-muted">82 Views</span>
                      </div>
                      <div class="timeline-content">
                        <p>Location: United States</p>
                      </div>
                      <div class="timeline-footer">
                        <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                            class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>
                        <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                            class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a>
                        <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                            class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
                      </div>
                    </div>
                    <!-- end timeline-body -->
                  </li>
                  <li>
                    <!-- begin timeline-time -->
                    <div class="timeline-time">
                      <span class="date">24 February 2014</span>
                      <span class="time">08:17</span>
                    </div>
                    <!-- end timeline-time -->
                    <!-- begin timeline-icon -->
                    <div class="timeline-icon">
                      <a href="javascript:;">&nbsp;</a>
                    </div>
                    <!-- end timeline-icon -->
                    <!-- begin timeline-body -->
                    <div class="timeline-body">
                      <div class="timeline-header">
                        <span class="userimage"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                            alt=""></span>
                        <span class="username">Sean Ngu</span>
                        <span class="pull-right text-muted">1,282 Views</span>
                      </div>
                      <div class="timeline-content">
                        <p class="lead">
                          <i class="fa fa-quote-left fa-fw pull-left"></i>
                          Quisque sed varius nisl. Nulla facilisi. Phasellus consequat sapien sit amet nibh molestie
                          placerat. Donec nulla quam, ullamcorper ut velit vitae, lobortis condimentum magna.
                          Suspendisse mollis in sem vel mollis.
                          <i class="fa fa-quote-right fa-fw pull-right"></i>
                        </p>
                      </div>
                      <div class="timeline-footer">
                        <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                            class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>
                        <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                            class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a>
                        <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                            class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
                      </div>
                    </div>
                    <!-- end timeline-body -->
                  </li>
                  <li>
                    <!-- begin timeline-time -->
                    <div class="timeline-time">
                      <span class="date">10 January 2014</span>
                      <span class="time">20:43</span>
                    </div>
                    <!-- end timeline-time -->
                    <!-- begin timeline-icon -->
                    <div class="timeline-icon">
                      <a href="javascript:;">&nbsp;</a>
                    </div>
                    <!-- end timeline-icon -->
                    <!-- begin timeline-body -->
                    <div class="timeline-body">
                      <div class="timeline-header">
                        <span class="userimage"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                            alt=""></span>
                        <span class="username">Sean Ngu</span>
                        <span class="pull-right text-muted">1,021,282 Views</span>
                      </div>
                      <div class="timeline-content">
                        <h4 class="template-title">
                          <i class="fa fa-map-marker text-danger fa-fw"></i>
                          795 Folsom Ave, Suite 600 San Francisco, CA 94107
                        </h4>
                        <p>In hac habitasse platea dictumst. Pellentesque bibendum id sem nec faucibus. Maecenas
                          molestie, augue vel accumsan rutrum, massa mi rutrum odio, id luctus mauris nibh ut leo.</p>
                        <p class="m-t-20">
                          <img src="../assets/img/gallery/gallery-5.jpg" alt="">
                        </p>
                      </div>
                      <div class="timeline-footer">
                        <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                            class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>
                        <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                            class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a>
                        <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                            class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
                      </div>
                    </div>
                    <!-- end timeline-body -->
                  </li>
                  <li>
                    <!-- begin timeline-icon -->
                    <div class="timeline-icon">
                      <a href="javascript:;">&nbsp;</a>
                    </div>
                    <!-- end timeline-icon -->
                    <!-- begin timeline-body -->
                    <div class="timeline-body">
                      Loading...
                    </div>
                    <!-- begin timeline-body -->
                  </li>
                </ul>
                <!-- end timeline -->
              </div>
              <!-- end #profile-post tab -->
            </div>
            <!-- end tab-content -->
          </div>
          <!-- end profile-content -->
        </div>
      </div>
    </div>
  </div>











  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
</body>

</html>